{% load static %}
<!doctype html>
<html>

	<head>
		<title>Manage Flights</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins">

        <link rel="stylesheet" href="{% static '/css/mycss.css' %}">
        <script type="text/javascript" src="/static/js/myjs.js"></script>
    </head>

	<style type="text/css">
		.affix{
			top:5rem;
		}		
		body{
position: relative;
		};
		
	</style>
	<body style="background-color: #00707E"data-spy="scroll" data-target="#myscroll">
				<nav class="navbar navbar-inverse" data-spy="affix"  style="border-radius:0px !important; margin:0;border: 0 ; width: 100%;top:0;z-index: 9999 !important">
					<div class="navbar-header">
						  <a class="navbar-brand" href="/AirlineX">Airline-X</a>
						</div>
						
					</div>
				</nav>
<!--container strat-->

		<div class="container" data-spy="affix" style="margin: 0;bottom: 0;float: left;top:5rem;width: 0%;height:100%; background-color: ">

		  <ul class="nav nav-pills nav-stacked" style="border-radius: 0">
		    
	
		  </ul>
		</div>


<!--scrooll container start-->

			<div id="#myscroll" class="container" style="margin-left: 0;margin-top: 5rem; float: right; width:100%; padding: 0 10rem 0 5rem">
			<h2 style="color:white;"> Get Your ticket after payment confirmation </h2>
			 <hr>
				
				<br>						
								
						
			</div>

				<ul>
				
			  	
					    	
				
				<li><h4 style="color:white;"> Flight_no: </h4><li>
                        
				<li><h4 style="color:white;">Origin:     </h4>   <li>
                   
				<li><h4 style="color:white;">Destination: </h4>   <li>  
                  
				<li><h4 style="color:white;">Departure_date: </h4> <li>
                      
				<li><h4 style="color:white;">Departure_time:  </h4>  <li>
                   
				<li><h4 style="color:white;">Total Price:  	  </h4><li>     
                   
				<h1 style="color:white;">-----------------------------------------------</h1>	     
				
					    					
						
			</div>
						
					</div>
				</div>
				
			</ul>

	  

                <div class="col-sm-12 col-sm-offset-0">
                <button class="btn btn-primary btn-block trans-input-area" href="payement.html" type="submit"  style="height: 7rem; ;text-align: center;"  ><a href="/payment" style="color:white"><h4>Proceed to Payment</h4></a></button>
                </div>
            <br>
            <br>
            </div>

            <br>
            <br>
        </div>

        

    </body>
</html>










